.card {
    background: rgb(255, 255, 255);
    border-radius: .75rem;
}

.input {
    width: 100%;
    background-color: rgb(230 230 230);
    border: 2px solid transparent;
    border-radius: .3rem;
    outline: none;
    padding-left: .5rem;
    transition: all .2s;
}

.input::placeholder {
    color: rgb(150, 150, 150);
}

.input:focus {
    border-color: rgb(38, 38, 38);
}