.container {
    position: relative;
}

.container::before {
    content: "";
    position: absolute;
    background-image: url("/QuoteOrder/background.webp");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
}

.input {
    background-color: rgb(255, 255, 255);
    padding: .5rem .7rem;
    outline: none;
    border: 2px solid rgb(230, 230, 230);
    border-radius: .2rem;
    transition: border .15s ease-in-out;
}

.input::placeholder {
    color: rgb(180, 180, 180);
}

.input:focus {
    border-color: #323232;
}